header {
  text-align: center;
}

nav {
  text-align: center;
  background-color: #3b5998;
  padding: 0.5rem 0;
}

nav a {
  color: white;
}

nav ul {
  display: inline;
}

nav li {
  display: inline;
  margin: 0 1rem;
}

nav form {
  display: inline;
}

main {
  display: flex;
}

main article {
  flex-basis: 70%;
  padding: 1rem;
  background-color: #f7f7f7;
}

main h2 {
  text-align: center;
}

main aside {
  flex-basis: 30%;
  padding: 1rem;
  background-color: #dfe3ee;
}

main li {
  margin-top: 0.5rem;
}

footer {
  padding: 1rem;
  background-color: #3b5998;
  color: white;
}

input[type=text] {
  padding: 2px 4px;
  font-size: 1rem;
  background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
  border-radius: 2px;
}

input[type=submit] {
  padding: 3px 4px;
  font-size: 1rem;
  background-color: #2c003e;
  border: 2px solid #2c003e;
  border-radius: 2px;
  min-width: 5rem;
  text-transform: uppercase;
  color: white;
}
